<div class="">
    <h1>spa-mvc-js</h1>
    <hr/>
    <pre>
    spa-mvc-js
    ==========

    The goal of this project is create a simple, structured single page application model-view-controller framework for
    JavaScript running inside the browser. The main idea is separation of view, controller and model within the application.
    Remote calls and controller logic should be separate from views, layouts and styles. This framework loads all
    configuration, controllers and views without waiting for DOM to be ready. Visible url address hash commands are
    encrypted using CryptoJS.AES libraries.

    Features
    ========
    -  Simple front end SPA MVC
    -  View template provided by a popular Handlebars framework
    -  Controller logic and routing bindings are separate from views, layouts and styles
    -  Encrypted hash parameters option to turn this parametrized hash url
    -  Startup UI Bindings (separate from possible controller bindings)
    -  Single place to configure views and controllers
    -  Asynchronous context and controllers loading
    -  JSON context MVC configuration


    External libraries used
    -----------------------

    * [jquery](http://jquery.com/) - standard DOM manipulation
    * [handlebars](http://handlebarsjs.com/) - view template framework
    * [hashchange](http://benalman.com/projects/jquery-hashchange-plugin/) - browser address hashchange
    * [crypto-js (AES)](https://code.google.com/p/crypto-js/) - url hash commands cryptography
    </pre>





    <hr/>
    <h4>Web root location structure:</h4>
    <pre>
/ {root}
|
|___/js <em>{dir}</em>
|   |
|   |___/controllers <em>{dir: with <strong>java script controller classes</strong> files}</em>
|   |
|   |___/context.js <em>{file: <strong>initial mvc context</strong>}</em>
|
|___/views <em>{dir: with <strong>pure html</strong> files}</em>
|
|___/index.html <em>{file: initial (single) page template}</em>
    </pre>


    <br/><br/>

    Click links on the page to see <strong>spa-mvc-js</strong> in action.
    To view debug statements, please view console output

    <br/><br/><br/><br/>

</div>