<h2>Overview content goes here...</h2>
<hr/>
<strong>model.createTime = "{{this.createTime}}"</strong>
{{#if this.paramsArray}}
    <br/>
    <strong>Url address encrypted params</strong>
    <ul>
        {{#each this.paramsArray}}
        <li>Param[{{@index}}] = {{this}}</li>
        {{/each}}
    </ul>
{{/if}}
<hr/>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <colgroup>
            <col class="col-xs-1">
            <col class="col-xs-7">
        </colgroup>
        <thead>
        <tr>
            <th>Class</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <code>.active</code>
            </td>
            <td>Applies the hover color to a particular row or cell</td>
        </tr>
        <tr>
            <td>
                <code>.success</code>
            </td>
            <td>Indicates a successful or positive action</td>
        </tr>
        <tr>
            <td>
                <code>.info</code>
            </td>
            <td>Indicates a neutral informative change or action</td>
        </tr>
        <tr>
            <td>
                <code>.warning</code>
            </td>
            <td>Indicates a warning that might need attention</td>
        </tr>
        <tr>
            <td>
                <code>.danger</code>
            </td>
            <td>Indicates a dangerous or potentially negative action</td>
        </tr>
        </tbody>
    </table>
</div>