<div class="">
    <h1>spa-mvc-js</h1>
    <hr/>
    &nbsp; &nbsp; &nbsp; &nbsp; This is yet, another project trying to define a simple, structured,
    <a href="http://en.wikipedia.org/wiki/Single_Page_Application" target="newWindow">single page application</a>
    <a href="http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller" target="newWindow">model-view-controller</a>
    framework for JavaScript running inside the browser.
    The main idea is separation of view, controller and model within the application.


    <hr/>
    <h4>Web root location structure:</h4>
    <pre>
/ {root}
|
|___/js <em>{dir}</em>
|   |
|   |___/controllers <em>{dir: with <strong>java script controller classes</strong> files}</em>
|   |
|   |___/views <em>{dir: with <strong>pure html</strong> files}</em>
|   |
|   |___/context.js <em>{file: <strong>initial mvc context</strong>}</em>
|
|___/index.html <em>{file: initial page template}</em>
    </pre>


    <br/><br/>

    Click links on the page to see <strong>spa-mvc-js</strong> in action.
    To view debug statements, please view console output

    <br/><br/><br/><br/>

    <p><a class="btn btn-primary btn-lg learnMoreButton" role="button">Learn more</a></p>
</div>