<h2>Learn more content goes here...</h2>
<hr/>
<strong>this.someText = "{{this.someText}}"</strong>
<pre>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae vestibulum purus. Ut fringilla dictum vulputate. Morbi rhoncus, diam vel mollis bibendum, nibh massa faucibus lectus, vitae dapibus arcu purus non ante. Proin vel lorem neque. Suspendisse et lacus vulputate, faucibus turpis non, gravida sapien. Duis eleifend mattis erat. Sed vel leo vel libero posuere vehicula. Cras molestie posuere sem vel rhoncus. Curabitur augue mi, tempor in velit vitae, ullamcorper varius justo.
</pre>